@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.about-body,
.contact-body,
.screen-body {
  overflow-x: hidden;
}

/* top title  */

.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons ul li {
  list-style-type: none;
  float: left;
  margin-right: 1rem;
}

.icons ul li a {
  text-decoration: none;
}

.icons ul li a i {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

/* top title  */
.wrapper-menu ul li a {
  font-size: 20px;
}

.nav-item {
  padding-left: 25px;
  padding-right: 25px;
}

.wrapper-menu ul li a:hover {
  color: #01668e !important;
  transition: all ease 0.3s;
}

.wrapper-menu ul li .active {
  border-bottom: 3px solid #01668e;
  border-radius: 1px;
  width: 100%;
  transition: all ease 0.3s;
}

/* banner section  */

/* banner section  */

/* card section  */
/*! ================================ */
.first-card h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 100%;
  font-size: 24px;
  padding: 5px;
}

.first-card p {
  text-align: center;
  color: #fff;
  padding: 0 5px 0 5px;
  font-size: 16px;
}

.card {
  margin-top: 50px;
  border: none;
}

.first-card {
  width: 350px;
  height: 550px;
  background-color: #01648b;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
}

/* card section  */

/* screen protector */

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.content .content-title {
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 0.89px;
}

.content-header .content td {
  font-weight: bold;
  display: block;
  margin-right: 1.5rem;
}

.disc {
  width: 80%;
}

.content-img {
  width: 100%;
}
.content button {
  background-color: #005791;
  color: #fff;
  font-weight: bold;
}
/* screen protector */
.about-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.about-content h4 {
  font-size: 2rem;
  word-spacing: 3px;
  padding-bottom: 0.8rem;
}

.about-content p {
  font-size: 1.12rem;
  word-spacing: 3px;
  padding-bottom: 1.5rem;
  text-align: justify;
}

/* .contact-section  */
.contact-section {
  width: 100vw;
  padding: 5rem 0 5rem 0;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.contact-list ul li {
  list-style-type: none;
}

.contact-list ul li a {
  text-decoration: none;
  color: #000;
}

.icon i {
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
}

/* .contact-section  */
.bs {
  width: 68%;
}

.border-section {
  border: 1px solid rgb(241, 240, 240);
  opacity: 0.75;
}

/* question section  */
.accordion-button {
  font-size: 25px;
}

.accordion-body {
  font-size: 20px;
}

.question {
  margin: 0 auto;
  width: 60%;
}

/* question section  */

/* subscribe section  */

.subscribe-wrap {
  border-top: #e1dfe5 2px solid;
}

.subscribe-wrap p {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(94, 94, 94);
}

.subscribe-wrap .subscribe {
  font-size: 24px;
  display: block;
  letter-spacing: 0.045em;
  line-height: 1.25;
  color: rgb(27, 27, 27);
  margin-bottom: 34px;
  padding-top: 10px;
}

.singup button {
  background: #000;
  font-size: 16px;
  max-width: 30%;
  margin-bottom: 4px;
  margin-top: 4px;
  text-shadow: none;
  font-weight: 600;
  border-radius: 48px;
  min-height: 56px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: center;
  display: inline-flex;
  border-style: none;
  transition: all 0.3s ease 0s;
  padding-bottom: 8px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.214em;
  color: #dbdbdb;
}

.singup button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px -10px;
}

.singup input {
  height: 4rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #6d5d8e;
  padding: 5px;
}

.singup input:focus {
  border: 2px solid black;
}

/* subscribe section  */
th {
  font-size: 18px;
  opacity: 0.7;
  padding-bottom: 2.5rem;
}

td {
  font-size: 20px;
}

/* back to top up  */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #6d5d8e;
}

/* footer menu start  */

.footer-menu-wrapper {
  background-color: #146787;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
}

.about-us ul {
  padding-left: 3px;
  align-items: center;
}
.about-us ul li {
  list-style-type: none;
}

.help ul {
  padding-left: 3px;
}
.help ul li {
  list-style-type: none;
}

.about-us ul li a {
  text-decoration: none;
  color: #fff;
}

.help ul li a {
  text-decoration: none;
  color: #fff;
}

.fm-list-header {
  color: #fff;
}

/* footer menu end */
/* footer section start  */
footer p {
  background-color: #146787;
  border-top: 2px solid #005791;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: bolder;
}

/* footer section end */
/* responsive site  */

@media only screen and (max-width: 420px) {
  /* For Mobile  */

  .banner-title {
    min-width: 100%;
  }

  .content-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
  }

  .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .first-card {
    margin: 1rem 1rem 0;
    width: 300px;
  }

  .bs {
    width: 95%;
  }

  .footer-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 0 2rem 2rem;
  }
    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .contact-list ul {
        padding-left: 0;
    }

    .singup button {
        font-size: 14px;
        max-width: 20%;
        font-weight: 400;
        border-radius: 10px;
        min-height: 50px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 6px;
        letter-spacing: 0.21em;
    }
}
